@charset "EUC-KR";
#content {
        background-color: #fffefb;
        width: 100%;
    }

#headline {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
}

.head_content {
    padding: 35px 55px;
    font-size: 30px;
    text-align: center;
    font-family: "inter";
    font-weight: bold;
    background-color: #dfeaff;
    border-radius: 40px 40px 0px 0px;
}

.head_content:hover {
    background-color: #c4d9ff;
    text-decoration: underline;
}

.head_content:active {
    background-color: #a1c2ff;
    text-decoration: underline;
}

#start {
    margin-left: auto;
    margin-right: 30px;
    background-color: #E16259;
    color: white;
    padding: 8px 15px 8px 15px;
    border: 0px;
    border-radius: 5px;
}

input[type="text"],
input[type="password"] {
    padding: 1em;
    margin: 3px 0px;
    border-radius: 8px;
    border: solid 1px #bbbbbb;
}

input[type="text"]:hover,
input[type="password"]:hover {
    border: solid 1px rgb(97, 97, 97);
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: solid 2px #abdcef;
    border: solid 1px #bbbbbb;
}

body {
    margin: 0px;
    height: 100vh;
}

input[type="submit"] {
    padding: 1em;
    border-radius: 16px;
    border: solid 1px #B591D1;
    margin: 5px;
    background-color: #B591D1;
    color: black;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 2px 2px 2px 1px #c2aad4;
}

input[type="submit"]:hover {
    background-color: #a76ed3;
}

input[type="submit"]:active {
    background-color: #9745d6;
}

a {
    text-decoration: none;
    color: black;
}

#main {
    display: flex;
    padding: 10px 30px 10px 80px;
    align-items: center;
}

#login_option {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}
#userinfo {
  margin-left: 20px;
  color: #878785;
  font-size:20px;
  width: 200px;
  line-break: anywhere;
}
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width: 18%;
    min-width: fit-content;
    overflow: auto;
    background-color: #f7f6f3;
}
#close{
    border: transparent;
    background-color: transparent;
    font-size: 25px;
    padding: 10px;
}
#close:hover{
    background-color:#dfdfdf;
}
#logout {
    margin: 20px;
    background-color: transparent;
    border: solid 1px #bbbbbb;
    border-top: 1px solid #e8e7e4;
    font-size: 18px;
    padding: 5px 15px;
    color: #b6b4b0;
    text-align: left;
    border-radius: 10px;
}

#logout:hover {
    background-color: #e8e7e4;
}

#sections {
    display: flex;
    align-items: center;
    font-size: 25px;
    max-width: 99%;
}

#sections:hover {
    background-color: #fcf9f2;
}

#wrapper {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    min-height: 100vh;
}

#bodyline {
    display: flex;
    margin-bottom: auto;
    height: 90vh;
}

#lcontent {
    display: flex;
    width: 40%;
    flex-direction: column;
    margin-top: 10%;
    padding: 6%;
}

#rcontent {
    display: flex;
    flex-direction: column;
    width: 50%;
}
#rank_head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
}
.head{
    margin-top: 40px;
    border: #000000 solid 2px;
    border-radius: 20px;
    font-size: 30px;
    padding: 10px;
    background-color: white;
    font-weight: bold;
}
#ranking {
    display:flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 16px;
    margin-right: 50px;
    margin-top: 10px;
    border: solid 2px #000000;
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.tuple{
    display:flex;
    justify-content: space-between;
    border-bottom: solid 2px #b4b4b4;
}
.unit {
    /* border-bottom: solid 2px #b4b4b4; */
   /* margin: 10px; */
    font-size: 30px;
}
#r{
    background-color: #a1c2ff;
    
}