@charset "EUC-KR";
#content {
  background-color: #fffefb;
  display: flex;
  flex-direction: column;
}

#headline {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#bodyline {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head_content {
  padding: 5px 15px;
}

.head_content:hover {
  background-color: #f7f6f3;
  text-decoration: underline;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

#wrapper {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  min-height: 100vh;
}

#content {
  width: 100%;
}

form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-width: 400px;
  margin: 10px;
  font-size: 18px;
  background-color: white;
  border: solid 1px rgb(225, 225, 225);
  border-radius: 5px;
}

input[type="text"] {
  padding: 10px 20px;
  margin: 5px 10px 10px 10px;
  background-color: #f7f6f3;
  border: solid 1px rgb(225, 225, 225);
  border-radius: 5px;
  min-width: 355px;
  font-size: 20px;
}

input[type="text"]:hover {
  border: solid 1px rgb(201, 201, 201);
  ;
}

input[type="text"]:focus {
  outline: solid 3px #abdcef;
  border: solid 1px #00a2e3;
}

input[type="text"]:active {
  outline: none;
  border: solid 1px #00a2e3;
}

#input_label {
  color: #bbbbbb;
  font-size: 13px;
  margin-left: 10px;
}

input[type="password"] {
  padding: 10px 20px;
  margin: 5px 10px 10px 10px;
  background-color: #f7f6f3;
  border: solid 1px rgb(225, 225, 225);
  border-radius: 5px;
  min-width: 355px;
  font-size: 20px;
}

input[type="password"]:hover {
  border: solid 1px rgb(201, 201, 201);
}

input[type="password"]:focus {
  outline: solid 3px #abdcef;
  border: solid 1px #00a2e3;
}

input[type="password"]:active {
  outline: none;
  border: solid 1px #00a2e3;
}

#password {
  display: none;
  color: #bbbbbb;
  font-size: 13px;
}

#join {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-width: 400px;
  margin: 10px;
  font-size: 18px;
  border: solid 1px rgb(225, 225, 225);
  border-radius: 5px;
  color: #ec625b;
  background-color: #fdf5f2;
  border: solid 1px #ec625b;
}

#join:hover {
  background-color: #feece5;
}

#join:active {
  background-color: #fee3d9;
}

#register {
  font-size: 65px;
  padding: 20px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

hr {
  width: 400px;
  color: #bbbbbb;
}

#google_img {
  width: 30px;
  margin-right: 10px;
}

#icon {
  min-width: 300px;
}
#log_message{
        margin-left: 10px;
        margin-bottom: 15px;
        color: red;
        /* display: none; */
    }